@charset "UTF-8";

.eve_part {
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

div {
	display: block;
}

.eve_part .eventpart_left{
	width: 634px;
	height: 632px;
}

.eve_part .eventpart_left > div {
  	float: left;  
	width: 315px; height: 315px;
	border: 1px solid gray;
}

.eve_part .eventpart_left > div img{
	width: 313px; height: 313px;
	margin: 1px 0 0 1px;
	display: block;
}

.eve_part .eventpart_right{
	position: absolute;
	top: 0;
	left:640px;
	height: 632px;
	border: 1px solid gray;
}

.eve_part .eventpart_right > div img{
	width: 327px; height: 630px;
	margin: 1px 0 0 1px;
	display: block;
}